# Core functionality - changes here should be rare!
/src/app.py                   @MeynardOtis
/src/backend/database.py      @MeynardOtis
/src/backend/routers/auth.py  @MeynardOtis

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MeynardOtis
